.crudButton{
    background-color: #D9D9D9;
    width: 8vw;
    height: 16vh;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
}

.crudButton::before{
    content: '';
    position: relative;
    width: 100%;
    height: 0%;
    background: #150042;
    left: 0;
    z-index: 1;
    transition: 0.5s;
}

.btn{
    color: #150042;
}

.btn:hover{
    color:#D9D9D9;
}

.btn::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn:hover::before{
    height: 180%;
}

img{
    width: 80px;
    height: 80px;
    position: relative;
    index: 2;
}
